//primary Color

$navy-dark:#374b61 ;
$navy-light:#4b6076 ;
$bg:#eef1f3;


//secondary color

$white:#ffffff;
$white-smoke:#e1e1e1;



$blue:#457cba;
$blue-extralight:#dcedfe;
$blue-light:#badcfd;
$blue-columbia:#b4c6d8;
$blue-silver:#97aec6;
$blue-dark:#648b9d;
$blue-alice:#eaeff1;
$blue-bali:#7ba1b2;
$blue-heather:#acc1ca;


$grey:#a5b0bb;
$grey-light:#e1e1e1;
$grey-dark:#9ba5b0;
$grey-border:#f1f1f1;
$grey-dark-border:#e2e2e2;
$blue-Pattens:#e5ecf0;
$grey-drop:#f5f5f5;


$Progress:#3379bd;
$successful:#1abc9c;
$unsuccessful:#e74c3c;
$orange:#e65731;


$main-over:#fbfbfb;

$step-color:#f1f8ff;



//font Size

$font-12:12px;
$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-20:1.250em;
$font-22:1.375em;
$font-24:1.500em;
$font-28:28px;
$font-30:1.875em;
$font-35:2.188em;
$font-46:46px;
$font-50:50px;
$font-60:3.750em;
$font-70:70px;


//font family
$font-medium:'helveticaneuemedium'
